<!DOCTYPE html>


{% extends 'RNG/base.html' %}
{% load staticfiles %}

<html>
	<head>
		{% block title_block %}
			<title>Rate New Games ~ Password Changed</title>
		{% endblock %}
	
	{% load static %}
	<link href={% static "css/style.css" %} rel="stylesheet" type="text/css" />
	<link href= {% static "css/buttons.css" %} rel="stylesheet" type="text/css" />
	</head>

{% block body_block %}
	<body>
		<div class="body centre">
		<div class= "title2 ib"><u>Password Changed</u></div>
		<br /><br />
		<b>Your password has been changed! Follow this link to the
			<a href="{% url 'index' %}">homepage.</a></b>
		</div>
	</body>
{% endblock %}