{% extends 'RNG/base.html' %}
{% load staticfiles %}
{% block title %} Search {% endblock %}
{% block body_block %}
<div class="body centre">
{% if cats %}
<p class="MVTitle">Categories</p>
{% for cat in cats %}
        <div class="mostViewed centre">
        <div class= "MVimageBlock ib">
          <a href="{% url 'category' cat.slug %}">
            <img src={{cat.imageUrl}}>
           </a><!-- this is for the django tag!-->
        </div>
        <div class="MVtext">
          <a href="{% url 'category' cat.slug %}"><div class="MVTitle"><u>{{cat.name}}</u></div></a>
        </div>
        
      </div>
{% endfor %}
{% endif %}

{% if games %}
<p class="MVTitle">Games</p>
{% for game in games %}
        <div class="mostViewed centre">
        <div class= "MVimageBlock ib">
          <a href="{% url 'game' game.category.slug game.slug %}">
            <img src="/media/game_images/{{ game.file_name }}/">
           </a><!-- this is for the django tag!-->
        </div>
        <div class="MVtext">
          <a href="{% url 'game' game.category.slug game.slug %}"><div class="MVTitle"><u>{{game.name}}</u></div></a>
          <div class="MVname"></div><!-- this is for the django tag!-->
          <div class="MVdescription">
            <div>{{game.description}}</div><!-- this is for the django tag!-->
          </div>
        </div>
        
      </div>
{% endfor %}
{% endif %}
</div>
{% endblock %}