{% extends 'RNG/base.html' %}

{% load staticfiles %}
{% block body_block %}
<div class="body centre">
	{% if category %}
		{% for cat in category %}
		<div class = "mostViewed centre">    
			<div class = "MVimageBlock ib">
				<a href="{% url 'category' cat.slug %}"><img src= {{cat.imageUrl}} alt="CategoryImage"></a>
			</div>
			<div class = "MVtext">
				<a href="{% url 'category' cat.slug %}"><div class = "MVTitle"><u>{{cat.name}}</u></div></a>
			</div>
		</div>
		
		{% endfor %}
	{% else %}
	<div class = "mostViewed centre">
        <div class = "MVtext">
            <div class = "MVTitle">There are no categories to display.</div>            
        </div>
    </div>
	{% endif %}
</div>
{% endblock %}
